*.o
*.lib
*.so
*.exe

# Environment specific files
.vscode/
__pycache__/
*__pycache__/
.venv/

# Build folders
*build/

# Approximate Computing project files (on hold)
approx/
llvm/profiler/
llvm/utils/
llvm/clang_plugins/

models/
results/
dataset/

hls_config.tcl
process_dataset.sh
test_model.sh

dct_filter.py

detect_broken_designs.py
detect_redundant_designs.py
detect_outliers.py
inspect_gramschmidt.py