*.o
*.lib
*.so
*.exe

# Environment specific files
.vscode/
__pycache__/
*__pycache__/
.venv/
*.pyc

# Build folders
*build/

# Approximate Computing project files (on hold)
approx/
llvm/profiler/
llvm/utils/
llvm/clang_plugins/

*models*/
*results*/
*dataset*/

vitis_hls.log

hls_config.tcl
process_dataset.sh
test_model.sh

detect_broken_designs.py
detect_redundant_designs.py
detect_outliers.py
inspect_gramschmidt.py
area_model_analysis.py

shap_values/

gnn/test