__pycache__/
*__pycache__/
.vscode/
.venv/
*.log
hls/run_hls.tcl
estimators/*/model_analysis/
estimators/dataset_graphs/
dataset/
mini_dataset/
estimators/utils/*.txt
estimators/utils/*.tcl
estimators/utils/*.ll